#menu
{
    top: $sidebar-menu-main-top-spacing;

    width: 0;

    @include media-breakpoint-up(lg)
    {
        @include Trans();

        left: $sidebar-width;

        width: $menu-width;
    }


    ul
    {
        @include asideLists();
    }
    ul > li > ul
    {
        display: none;
    }
}

////////////////////////////////////////////////////////////////////////////////
// Airy Layout
////////////////////////////////////////////////////////////////////////////////
body.Layout--airy
{
    #menu
    {
        ul
        {
            @include asideLists(1.1rem, .6rem .5rem);
        }
    }
}
////////////////////////////////////////////////////////////////////////////////
// Compact Layout
////////////////////////////////////////////////////////////////////////////////
body.Layout--compact
{
    #menu
    {
        ul
        {
            @include asideLists(.875rem, .4rem .5rem);
        }
    }
}


body.expand #sidebar.open + #menu,
body #sidebar.open + #menu,
{
    @include media-breakpoint-up(lg)
    {
        left: 0 !important;
    }
}
