#sidebar,
#sidebar.open
{
    top: $sidebar-menu-main-top-spacing;

    width: 0;

    @include media-breakpoint-up(lg)
    {
        @include Trans();

        left: 0;

        width: $sidebar-width !important;
    }



    ul
    {
        @include asideLists();
    }
    ul > li.active a
    {
        margin-left: -3px;
    }
}

////////////////////////////////////////////////////////////////////////////////
// Airy Layout
////////////////////////////////////////////////////////////////////////////////
body.Layout--airy
{
    #sidebar,
    #sidebar.open
    {
        ul
        {
            @include asideLists(1.1rem, .6rem .5rem);
        }
    }
}
////////////////////////////////////////////////////////////////////////////////
// Compact Layout
////////////////////////////////////////////////////////////////////////////////
body.Layout--compact
{
    #sidebar,
    #sidebar.open
    {
        ul
        {
            @include asideLists(.875rem, .4rem .5rem);
        }
    }
}

body.expand #sidebar.open,
body #sidebar.open
{
    @include media-breakpoint-up(lg)
    {
        left: -$sidebar-width !important;
    }
}
