.table {
    margin-bottom: 0;
    
    thead {
        z-index: 1;
    }
    
    th,
    td {
        vertical-align: middle;

        h1,
        h2,
        h3,
        h4,
        h5 {
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    > thead,
    > tbody,
    > tfoot {
        > tr {
            &.dragged {
                opacity: 0.2;
            }

            > th,
            > td {
                vertical-align: middle;

                .handle:hover {
                    cursor: move;
                }
            }
        }
    }

    thead th {
        vertical-align: bottom;
        border-bottom: (2 * 1px) solid $table-border-color;

        a {
            color: $link-color;
        }
    }
}

.table-filters {
    padding: 1rem;
    border-top: 1px solid $table-border-color;

    .form-group {
        margin-bottom: 0 !important;
    }
}

.no-results {
    padding: 1rem;
    border-top: 1px solid $table-border-color;
}