@mixin asideLinks() {
	display:flex;
	line-height: 1;
	font-size:$font-size-base;
    font-size:.95rem;
	margin:0;
	padding:.4rem .5rem;
	

}

@mixin asideLists() {

	padding:.5rem;

    li 
    {
        display:block;
        
    }
    li a {
        @include asideLinks();
    }

    li a .title 
    {
        display:block;
    }

}

@mixin Trans() {
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}