@mixin asideLinks($fontSize:1rem,$padding) {
	display:flex;
	line-height: 1;
	margin:0;
	padding:$padding;
    font-size:$fontSize;
}

@mixin asideLists($fontSize:1rem,$padding:.5rem .5rem) {

	padding:.5rem;

    li 
    {
        display:block;
        
    }
    li a {
        @include asideLinks($fontSize, $padding);
    }

    li a .title 
    {
        display:block;
    }

}

@mixin Trans() {
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}