@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');

// // Bootstrap
@import "../bootstrap/bootstrap";
@import "../bootstrap/mixins";
@import "../bootstrap/variables";

// Utilities
@import "_mixins";
@import "_variables";

// Layout
@import "layout/main";
@import "layout/menu";
@import "layout/footer";
@import "layout/topbar";
@import "layout/search";
@import "layout/buttons";
@import "layout/sidebar";

// Components
@import "components/tags";
@import "components/navs";
@import "components/cards";
@import "components/forms";
@import "components/trees";
@import "components/alerts";
@import "components/tables";
@import "components/modals";
@import "components/loader";
@import "components/buttons";
@import "components/variants";
@import "components/dropdowns";
@import "components/scrollbar";
@import "components/utilities";
@import "components/pagination";
@import "components/breadcrumb";
@import "components/scaffolding";
@import "components/input-group";
@import "components/custom-forms";

// Pages
@import "pages/login";
@import "pages/installer";


$sidebar-width:180px;
$menu-width:180px;
$sidebar-menu-width:360px;
$sidebar-menu-main-top-spacing:50px;

@import "hjortron/mixins/aside";
@import "hjortron/components/forms";
@import "hjortron/components/cards";
@import "hjortron/components/navs";
@import "hjortron/components/entry_grid";
@import "hjortron/layout/main";
@import "hjortron/layout/menu";
@import "hjortron/layout/sidebar";
@import "hjortron/layout/topbar";
@import "hjortron/layout/footer";
