body.ColorScheme--Blue
{
    background: #f6fafb;

    ////////////////////////////////////////////////////////////////////////////////////////////////
    // Topbar
    ////////////////////////////////////////////////////////////////////////////////////////////////
    #topbar
    {
        box-shadow: none;
        ////////////////////////////////////////////////////////////////////////////////////////////
        // Topbar Left
        ////////////////////////////////////////////////////////////////////////////////////////////
        .topbar-left,
        .navbar-default
        {
            color: #fff;
            //background:#fff;
            background: #313c50;
            
            form 
            {
                ::placeholder
                {
                    opacity: 1; /* Firefox */
                    /* Chrome, Firefox, Opera, Safari 10.1+ */
                    color: #fff;
                }

                :-ms-input-placeholder
                {
                    /* Internet Explorer 10-11 */
                    color: #fff;
                }

                ::-ms-input-placeholder
                {
                    /* Microsoft Edge */
                    color: #fff;
                }
            }
        }
        .fa
        {
            color: #fff;
        }
    }

    #search .search-bar
    {
        color: inherit;
    }

    //////////////////////////////////////////////////////////////////////////////////////////////////
    // Sidebar
    //////////////////////////////////////////////////////////////////////////////////////////////////
    #sidebar
    {
        background: #3f4d67;

        ul
        {
            padding: .5rem 0;
        }
        a
        {
            //color: #000;
        }

        a:hover
        {
            //color: #777;
        }
        li.active a
        {
            color: #fff;
            background: #3f4d67;
        }
    }

    //////////////////////////////////////////////////////////////////////////////////////////////////
    // MENU
    //////////////////////////////////////////////////////////////////////////////////////////////////
    #menu
    {
        background: #3b4961;
        box-shadow: none;
        ul
        {
            padding: 0rem 0 .5rem;
        }
        a
        {
            //color: #333;
        }
        a:hover
        {
            //color: #000;
        }
        li.active a
        {
            //color: #333;
            //background: #fff;
        }
        li:first-child a
        {
            padding-top: .5rem;
        }
    }

    //////////////////////////////////////////////////////////////////////////////////////////////////
    // Main
    //////////////////////////////////////////////////////////////////////////////////////////////////
    #main
    {
        padding-top: 75px;
    }

    #buttons 
    {
        background:#fafafa;
    }
}
