#menu
{
    width: 0;
    top: $sidebar-menu-main-top-spacing;

    @include media-breakpoint-up(lg)
    {
        

        left: $sidebar-width;

        width: $menu-width;
    }


    ul
    {
        @include asideLists();
    }
    ul > li > ul
    {
        display: none;
    }
}
