#sidebar,
#sidebar.open
{
    top: $sidebar-menu-main-top-spacing;

    width: 0;

    @include media-breakpoint-up(lg)
    {
        @include Trans();

        left: 0;

        width: $sidebar-width !important;
    }



    ul
    {
        @include asideLists();
    }
    ul > li.active a
    {
        margin-left: -3px;
    }
}

body.expand #sidebar.open
{
    @include media-breakpoint-up(lg)
    {
        left: -$sidebar-width !important;
    }
}
