#topbar
{
    ul.nav.navbar-nav.navbar-left
    {
        a 
        {
            padding:0;
            img 
            {
                width:30px;
                height:30px;
            }
        }
    }
    .topbar-left,
    .button-menu .button-menu-mobile,
    .search-bar,
    .nav > li > a,
    .logo
    {
        line-height: 50px;

        height: 50px;
    }

    .logo svg
    {
        width: 16px;
        height: 30px;
        margin-top: 0;
    }

    .dropdown-menu
    {
        padding: 0 0 1rem;
        .dropdown-header
        {
            color: #fff;
            background: #11bef7;
        }
    }
}
