<!doctype html>

<html>

    <head>
        {% include "theme::partials/metadata" %}
    </head>

    <body id="login">

        {% block content %}{% endblock %}

        {% include "theme::partials/assets" %}

    </body>
</html>