.form {

    .field-group {
        margin-bottom: .875rem;
        padding-bottom: .875rem;
    }

   
    label + p 
    {
    	margin-bottom:.4rem;
        font-size: 0.8rem;
    }
    .text-warning
    {
        font-size:.8rem;
        font-style:italic;
    }
}

.form-control {
   border-radius: 0;
}
